body {
  background-color: rgb(255, 225, 160);
  font-family: Tacos de Tijuana;
  color: rgb(0, 0, 0);
}
h1 {
  color: rgb(126, 0, 0);
  font-family: cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  color: rgb(126, 0, 0);
}
